<div class="mb-2" *transloco="let t; prefix: 'FEATURES.TICKET'">
  <button mat-button (click)="openFilterDialog()">
    <mat-icon>filter_list</mat-icon>
    {{ t("DROPDOWN_FILTERS_TITLE") }}
  </button>
</div>

<app-list-layout
  *transloco="let t; prefix: 'FEATURES.TICKET'"
  [title]="t('TITLE')"
  [data]="tickets()"
  [length]="total()"
  [pageSize]="pageSize()"
  [loading]="loading()"
  (pageChange)="onPageChange($event)"
  (rowClicked)="onRowClicked($event)"
  [displayedColumns]="[
    'client',
    'createdBy',
    'description',
    'status',
    'priority',
    'category',
    'tag'
  ]"
  [columnLabels]="{
    client: t('CLIENT'),
    createdBy: t('CREATED_BY'),
    description: t('DESCRIPTION.TITLE'),
    status: t('STATUS.TITLE'),
    priority: t('PRIORITY.TITLE'),
    category: t('CATEGORY.TITLE'),
    tag: t('TAG.TITLE')
  }"
  [columnTemplates]="{
    client: clientTemplate,
    createdBy: createdByTemplate,
    description: descriptionTemplate,
    status: statusTemplate,
    priority: priorityTemplate,
    category: categoryTemplate,
    tag: tagTemplate
  }"
>
  <button mat-button title-group-button [routerLink]="'/ticket/create'">
    {{ t("NEW_TICKET_BUTTON") }}
  </button>

  <ng-template #clientTemplate let-ticket>{{ ticket.client.name }}</ng-template>

  <ng-template #statusTemplate let-ticket>
    {{ t("STATUS." + ticket.status.toUpperCase()) }}
  </ng-template>

  <ng-template #priorityTemplate let-ticket>
    {{ t("PRIORITY." + ticket.priority.toUpperCase()) }}
  </ng-template>

  <ng-template #categoryTemplate let-ticket>
    {{ t("CATEGORY." + ticket.category.toUpperCase()) }}
  </ng-template>

  <ng-template #descriptionTemplate let-ticket>
    {{ ticket.description }}
  </ng-template>

  <ng-template #tagTemplate let-ticket>
    {{ t("TAG." + ticket.tag.toUpperCase()) }}
  </ng-template>

  <ng-template #createdByTemplate let-ticket>
    {{ ticket.createdBy.name }}
  </ng-template>

  <ng-container class="hidden">
    <app-select-category-filter (categoryChanged)="onChangeCategory($event)" />
    <app-select-priority-filter (priorityChanged)="onChangePriority($event)" />
    <app-select-status-filter (statusChanged)="onChangeStatus($event)" />
  </ng-container>
</app-list-layout>
