mat-sidenav-container {
  height: calc(100vh - 56px);
}

mat-sidenav {
  border-radius: 0;
  width: 200px;
}

mat-sidenav-content {
  padding: 1.6rem;
}

mat-list-item:hover {
  cursor: pointer;
  border-radius: 0 1.2rem 1.2rem 0;
}

:host-context(body.light-theme) mat-list-item:hover {
  background: darken(#fafafa, 5%);
}

:host-context(body.dark-theme) mat-list-item:hover {
  background: darken(#303030, 5%);
}

.toolbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  .header-controls {
    display: flex;
    gap: 1rem;
  }
}

.submenu {
  max-width: 90%;
  padding-left: 10%;
}

@media (min-width: 600px) {
  mat-sidenav-container {
    height: calc(100vh - 64px);
  }
}
