<mat-sidenav-container class="h-screen">
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="opened()"
    class="!w-fit !pr-12 !bg-zinc-900/30 !rounded-none !shadow-[inset_-2px_0px_15px_rgba(0,0,0,1)]"
  >
    <mat-list>
      @for (item of items; track $index) {
      <mat-list-item>
        <a [routerLink]="item.path" class="flex items-center gap-2">
          <mat-icon>{{ item.icon }}</mat-icon>
          <p>{{ item.label }}</p>
        </a>
      </mat-list-item>
      }
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <header
      class="flex items-center justify-between px-4 py-2 shadow-lg shadow-black"
    >
      <button mat-icon-button (click)="sidenav.toggle()" class="lg:hidden">
        <mat-icon>menu</mat-icon>
      </button>
      <app-select-language />
    </header>

    <main class="p-6">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
