<mat-sidenav-container
  class="h-screen"
  *transloco="let t; prefix: 'CORE.LAYOUTS.SIDENAV'"
>
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="opened()"
    class="!w-fit !pr-12 !bg-zinc-300/10 !rounded-none !shadow-[inset_-2px_0px_15px_rgba(0,0,0,1)]"
    appNoPrint
  >
    <mat-list>
      @for (item of items; track $index) {
      <mat-list-item>
        <a [routerLink]="item.path" class="flex items-center gap-2">
          <mat-icon>{{ item.icon }}</mat-icon>
          <p>{{ t(item.label) }}</p>
        </a>
      </mat-list-item>
      }
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <header
      class="flex items-center justify-between px-4 py-2 shadow-lg shadow-black"
      appNoPrint
    >
      <button mat-icon-button (click)="sidenav.toggle()" class="lg:hidden">
        <mat-icon>menu</mat-icon>
      </button>
      <app-avatar
        url="https://media.istockphoto.com/id/610259354/pt/foto/jovem-mulher-usando-dslr-c%C3%A2mara.jpg?s=612x612&w=0&k=20&c=R1agbbanj4qKfZ6dFERdUovwchDOgIvtlJmEnLEO_XY="
        alt="teste"
        [routerLink]="'tech/profile'"
        class="cursor-pointer"
      />
    </header>

    <main class="p-6">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
