@defer (when ticket()) {
<mat-card
  class="flex flex-col gap-8 items-center pb-6"
  *transloco="let t; prefix: 'FEATURES.TICKET'"
>
  <mat-card
    class="w-full !flex !flex-row items-center justify-between px-6 py-2"
  >
    <mat-card-title class="max-w-fit">
      Ticket #{{ ticket().smallId }}
    </mat-card-title>
    <button mat-icon-button (click)="print()">
      <mat-icon>print</mat-icon>
    </button>
  </mat-card>
  <div class="w-full flex gap-6 items-start justify-between px-6">
    <div class="w-2/3 flex flex-col gap-6">
      <mat-card class="p-6">
        <div class="ml-[-0.2rem] flex gap-2 mb-4">
          <div class="w-fit py-1 px-2 bg-zinc-500 rounded-2xl">
            <strong>{{ t("STATUS.TITLE") }}</strong>
            {{ t("STATUS." + ticket().status.toUpperCase()) }}
          </div>
          <div class="w-fit py-1 px-2 bg-zinc-500 rounded-2xl">
            <strong>{{ t("CATEGORY.TITLE") }}</strong>
            {{ t("CATEGORY." + ticket().category.toUpperCase()) }}
          </div>
          <div class="w-fit py-1 px-2 bg-zinc-500 rounded-2xl">
            <strong>{{ t("PRIORITY.TITLE") }}</strong>
            {{ t("PRIORITY." + ticket().priority.toUpperCase()) }}
          </div>
          <div class="w-fit py-1 px-2 bg-zinc-500 rounded-2xl">
            <strong>{{ t("TAG.TITLE") }}</strong>
            {{ t("TAG." + ticket().tag.toUpperCase()) }}
          </div>
        </div>
        <div class="flex flex-col">
          <strong> Descrição </strong>
          {{ ticket().description }}
        </div>
        <hr class="my-6 brightness-50" />
        <div class="flex flex-col">
          <strong> Informações do cliente </strong>
          @if(ticket().client.avatar) {
          <app-avatar
            [url]="ticket().client.avatar.url"
            [alt]="ticket().client.avatar.smallId + '-Avatar'"
          />
          } {{ ticket().client.name }}
        </div>
      </mat-card>

      <app-ticket-timeline [timeline]="timeline()" />

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="flex items-center gap-1">
              <mat-icon>article</mat-icon>
              Notas
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex justify-between">
            @if(ticket().notes.length === 0) { Ainda não há notas }
            <div class="flex flex-col gap-2">
              @for (note of ticket().notes; track note.id) {
              <div class="flex items-center gap-4">
                <span>
                  <p>👤 {{note.author.name}}</p>
                  <p>⌚ {{note.createdAt | date: 'dd/MM/yyyy HH:mm'}}</p>
                  <p>💬 {{ note.content }}</p>
                </span>
                <button mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              }
            </div>
            <button
              mat-stroked-button
              class="max-w-fit"
              (click)="openAddNoteDialog()"
            >
              Adicionar nota
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="w-1/3 flex flex-col gap-6">
      <mat-card class="p-4">
        <mat-card-title class="!mb-2">Actions</mat-card-title>
        <div class="flex flex-col gap-2">
          @if(ticket().status === eTicketStatus.OPEN) {
          <button mat-stroked-button (click)="setProgress()">
            <mat-icon>play_arrow</mat-icon>
            Marcar em progresso
          </button>
          } @if(ticket().status === eTicketStatus.PROGRESS) {
          <button mat-stroked-button>
            <mat-icon>play_arrow</mat-icon>
            Finalizar o chamado
          </button>
          }
          <button mat-raised-button (click)="confirmDelete()">
            <mat-icon>delete</mat-icon>
            Deletar o chamado
          </button>
        </div>
      </mat-card>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="flex items-center gap-1">
              <mat-icon>download</mat-icon>
              Anexos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            @if(ticket().attachments.length === 0) { Ainda não há anexos } @for
            (attachment of ticket().attachments; track attachment.id) {
            <a [href]="attachment.url">{{ attachment.filename }}</a>
            }
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</mat-card>
}
