@defer (when ticket()) {
<mat-card
  class="flex flex-col gap-8 items-center pb-6"
  *transloco="let t; prefix: 'FEATURES.TICKET'"
>
  <mat-card
    class="w-full !flex !flex-row items-center justify-between px-6 py-2"
  >
    <mat-card-title class="max-w-fit">
      Ticket #{{ ticket().smallId }}
    </mat-card-title>
    <app-print-button />
  </mat-card>
  <div
    class="w-full flex gap-6 items-start justify-between px-6 flex-wrap lg:flex-nowrap"
  >
    <div class="w-full lg:w-2/3 flex flex-col gap-6">
      <app-ticket-main-information [ticket]="ticket()" />
      <app-ticket-timeline [timeline]="timeline()" />
      <app-ticket-notes [ticket]="ticket()" />
      <app-ticket-attachments
        [attachments]="ticket().attachments"
        [ticketId]="ticket().id"
      />
    </div>
    <div class="w-full lg:w-1/3 flex flex-col gap-6" appNoPrint>
      <app-ticket-actions [ticket]="ticket()" (onUpdated)="getTimeline()" />
    </div>
  </div>
</mat-card>
}
