<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Cadastrar um novo cliente</mat-card-title>
      <mat-card-subtitle>
        Preencha os dados do cliente para criar um novo cadastro
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (submit)="onSubmit($event)">
      <mat-form-field>
        <mat-label>CNPJ</mat-label>
        <input
          type="number"
          name="cnpj"
          id="cnpj"
          formControlName="cnpj"
          matInput
        />

        <mat-hint></mat-hint>
        @if(form.controls.cnpj.hasError('required')) {
        <mat-error>O CNPJ é obrigatório</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input
          type="text"
          name="name"
          id="name"
          formControlName="name"
          matInput
        />
        <mat-hint></mat-hint>
        @if(form.controls.name.hasError('required')) {
        <mat-error>O nome é obrigatório</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input
          type="number"
          name="phone"
          id="phone"
          formControlName="phone"
          matInput
        />
        <mat-hint></mat-hint>
        @if(form.controls.phone.hasError('required')) {
        <mat-error>O telefone é obrigatório</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          type="email"
          name="email"
          id="email"
          matInput
          formControlName="email"
        />
        <mat-hint></mat-hint>
        @if(form.controls.email.hasError('required')) {
        <mat-error>O email é obrigatório</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>TAG</mat-label>
        <mat-select [(ngModel)]="selectedTag" formControlName="tag">
          <mat-option value="Vip">Vip</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-actions>
        <button type="button" (click)="cleanForm()" mat-button>
          <mat-icon> delete </mat-icon>
          Cancelar
        </button>
        <button type="submit" mat-button>
          <mat-icon>save</mat-icon>
          Salvar cliente
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
