<div class="mb-2" *transloco="let t; prefix: 'FEATURES.CLIENT'">
  <button mat-button (click)="openFilterDialog()">
    <mat-icon>filter_list</mat-icon>
    {{ t("DROPDOWN_FILTERS_TITLE") }}
  </button>
</div>

<app-list-layout
  *transloco="let t; prefix: 'FEATURES.CLIENT'"
  [title]="t('TITLE')"
  [data]="clients()"
  [length]="total()"
  [pageSize]="pageSize()"
  (pageChange)="onPageChange($event)"
  (rowClicked)="onRowClicked($event)"
  [displayedColumns]="['avatar', 'name', 'cnpj', 'tag']"
  [columnLabels]="{
    avatar: t('AVATAR'),
    name: t('NAME'),
    cnpj: t('CNPJ'),
    tag: t('TAG'),
  }"
  [columnTemplates]="{
    avatar: avatarTemplate,
    name: nameTemplate,
    cnpj: cnpjTemplate,
    tag: tagTemplate
  }"
>
  <button mat-button title-group-button [routerLink]="'/client/create'">
    {{ t("NEW_CLIENT_BUTTON") }}
  </button>

  <ng-template #avatarTemplate let-client>
    @if(client.avatar) {
    <app-avatar [url]="client.avatar.url" [alt]="client.name" />
    } @else { <mat-icon>broken_image</mat-icon> }
  </ng-template>

  <ng-template #nameTemplate let-client>
    {{ client.name }}
  </ng-template>

  <ng-template #cnpjTemplate let-client>
    {{ client.cnpj }}
  </ng-template>

  <ng-template #tagTemplate let-client>
    {{ client.tag }}
  </ng-template>
</app-list-layout>
