@if(ticket) {
<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        <mat-icon>confirmation_number</mat-icon>
        <p>Detalhes - TK #{{ ticket.smallId }}</p>
      </mat-card-title>
    </mat-card-title-group>
    <div class="header-actions no-print">
      <button mat-button (click)="printPage()">
        <mat-icon>print</mat-icon>
        <span>Imprimir</span>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <section class="information-tags">
      <span [style]="statusStyle">
        Status: {{ translate.tStatus(ticket.status) }}
      </span>
      <span [style]="priorityStyle">
        Prioridade: {{ translate.tPriority(ticket.priority) }}
      </span>
      <span [style]="categoryStyle">
        Categoria: {{ translate.tCategory(ticket.category) }}
      </span>
    </section>

    <section class="description">
      <h4>Descrição</h4>
      <p>{{ ticket.description }}</p>
      <span>
        <mat-icon>sell</mat-icon>
        {{ translate.tTag(ticket.tag) }}
      </span>
    </section>

    <section class="client">
      <h4>Cliente</h4>
      <p>{{ ticket.client.name }}</p>
    </section>
  </mat-card-content>
</mat-card>
}
