@if(ticket) {
<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        <mat-icon>confirmation_number</mat-icon>
        <p>Detalhes - TK #{{ ticket.smallId }}</p>
      </mat-card-title>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <section class="information-section">
      <section class="information-tags">
        <span [style]="statusStyle">
          Status: {{ translate.tStatus(ticket.status) }}
        </span>
        <span [style]="priorityStyle">
          Prioridade: {{ translate.tPriority(ticket.priority) }}
        </span>
        <span [style]="categoryStyle">
          Categoria: {{ translate.tCategory(ticket.category) }}
        </span>
      </section>

      <section class="description">
        <h4>Descrição</h4>
        <p>{{ ticket.description }}</p>
        <span>
          <mat-icon>sell</mat-icon>
          {{ translate.tTag(ticket.tag) }}
        </span>
      </section>

      <section class="client">
        <h4>Cliente</h4>
        <p>{{ ticket.client.name }}</p>
      </section>

      <section class="notes">
        <h4>Notas</h4>
        @if (ticket.notes.length > 0 ) { @for (note of ticket.notes; track
        $index) {
        {{ note.content }}
        } } @else {
        <p>Nenhuma nota encontrada</p>
        }
      </section>

      <section class="attachments">
        <h4>Anexos</h4>
        @if (ticket.attachments.length > 0 ) { @for (attachment of
        ticket.attachments; track $index) {
        <mat-card class="attachment">
          <mat-card-title-group>
            <mat-card-title>Arquivo: {{ attachment.filename }}</mat-card-title>
            <mat-card-subtitle
              >Anexado: {{ formatDate.format(attachment.createdAt) }} --
              {{ attachment.uploadedBy.name }}
            </mat-card-subtitle>
            <mat-card-subtitle
              >Tamanho:
              {{ (attachment.size / 100000).toString().slice(0, 4) }}
              MB</mat-card-subtitle
            >
          </mat-card-title-group>
          <mat-card-actions>
            <button mat-button>
              <mat-icon>delete</mat-icon>
              Deletar
            </button>
            <button mat-button (click)="downloadFile(attachment)">
              <mat-icon>download</mat-icon>
              Baixar
            </button>
          </mat-card-actions>
        </mat-card>
        } } @else {
        <p>Nenhum anexo encontrado</p>
        }
      </section>
      <section class="timeline">
        <h4>Timeline</h4>
        <div class="creation">
          <p>Criação</p>
          <span>{{ formatDate.format(ticket.createdAt) }}</span>
          <p>{{ ticket.createdBy.name }}</p>
        </div>
        <div>
          <p>Progresso</p>
          @for (progress of ticket.progress; track $index) {
          <span>{{ formatDate.format(progress.createdAt) }}</span>
          <p>{{ progress.author.name }}</p>
          }
        </div>
      </section>
    </section>

    <section class="action-section no-print">
      <mat-card-title> Ações </mat-card-title>
      <div class="action">
        <button mat-button (click)="printPage()">
          <mat-icon>print</mat-icon>
          <span>Imprimir</span>
        </button>
      </div>
      <div class="action">
        @switch (ticket.status) { @case (ticketStatus.Open) {
        <button mat-button>
          <mat-icon>update</mat-icon>
          Marcar em progresso
        </button>
        } @case (ticketStatus.Progress) {
        <button mat-button>
          <mat-icon>update</mat-icon>
          Finalizar
        </button>
        } @case (ticketStatus.Finish) {
        <button mat-button>
          <mat-icon>update</mat-icon>
          Reabrir
        </button>
        } }
      </div>
      <div class="action">
        <button mat-button (click)="openAddNoteDialog()">
          <mat-icon>comment</mat-icon>
          Adicionar nota
        </button>
      </div>
      <div class="action">
        <button mat-button (click)="openAddAttachmentDialog()">
          <mat-icon>attach_file</mat-icon>
          Adicionar anexo
        </button>
      </div>
      <div class="action">
        <button mat-button>
          <mat-icon>delete</mat-icon>
          Deletar
        </button>
      </div>
    </section>
  </mat-card-content>
</mat-card>
}
