<h2 mat-dialog-title>Adicionar um anexo</h2>
<mat-dialog-content class="mat-typography">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laboriosam
  voluptas ab inventore sint perferendis aspernatur, non illo est magnam velit
  neque cupiditate dolore officia voluptatum esse optio consequuntur. Cumque.
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
