<app-list-layout
  [title]="'Clientes'"
  [data]="data"
  [loading]="loading"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [length]="length"
  (pageChange)="handlePageEvent($event)"
  (rowClicked)="showClientInfo($event)"
  [displayedColumns]="['name', 'cnpj']"
  [columnLabels]="{
    name: 'Nome',
    cnpj: 'CNPJ',
  }"
  [columnTemplates]="{
    name: nameTemplate,
    cnpj: cnpjTemplate,
  }"
>
  <div filters>
    <app-client-filter (clientSelected)="onClientChange($event)" />
  </div>

  <button mat-button title-group-button (click)="createClient()">
    Novo cliente
  </button>

  <ng-template #nameTemplate let-client>{{ client.name }}</ng-template>
  <ng-template #cnpjTemplate let-client>{{ client.cnpj }}</ng-template>
</app-list-layout>
