<form [formGroup]="form" (submit)="onSubmit($event)" class="form-container">
  <div class="form-header">
    <h1>TRACKIT</h1>
  </div>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      type="email"
      name="email"
      id="email"
      matInput
      formControlName="email"
    />
    <mat-hint></mat-hint>
    @if(form.controls.email.hasError('required')) {
    <mat-error>O email é obrigatório</mat-error>
    } @if(form.controls.email.hasError('email')) {
    <mat-error>Email inválido</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input
      type="password"
      name="password"
      id="password"
      matInput
      formControlName="password"
    />
    <mat-hint></mat-hint>
    @if(form.controls.password.hasError('required')) {
    <mat-error>A senha é obrigatória</mat-error>
    }
  </mat-form-field>
  <button type="submit" mat-flat-button>Entrar</button>
</form>
<div class="image-container">
  <img src="/sign-in-illustration.svg" alt="illustration" />
</div>
