<app-list-layout
  [title]="'Tickets'"
  [data]="data"
  [displayedColumns]="['client', 'description', 'status', 'priority']"
  [columnLabels]="{
    client: 'Cliente',
    description: 'Descrição',
    status: 'Status',
    priority: 'Prioridade'
  }"
  [columnTemplates]="{
    client: clientTemplate,
    description: descriptionTemplate,
    status: statusTemplate,
    priority: priorityTemplate
  }"
  [loading]="loading"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [length]="length"
  (rowClicked)="showTicketInfo($event)"
  (pageChange)="handlePageEvent($event)"
>
  <div filters>
    <app-client-filter (clientSelected)="onClientChange($event)" />
    <app-status-filter
      (statusChange)="onStatusChange($event)"
      [defaultSelected]="statusFilter"
    />
    <app-category-filter
      [defaultSelected]="categoryFilter"
      (categoryChange)="onCategoryChange($event)"
    />
    <app-priority-filter
      [defaultSelected]="priorityFilter"
      (priorityChange)="onPriorityChange($event)"
    />
  </div>

  <button mat-button title-group-button (click)="createTicket()">
    Novo ticket
  </button>

  <ng-template #clientTemplate let-ticket>
    {{ ticket.client.name }}
  </ng-template>

  <ng-template #descriptionTemplate let-ticket>
    {{ ticket.description }}
  </ng-template>

  <ng-template #statusTemplate let-ticket>
    {{ translate.tStatus(ticket.status) }}
  </ng-template>

  <ng-template #priorityTemplate let-ticket>
    {{ translate.tPriority(ticket.priority) }}
  </ng-template>
</app-list-layout>
