.filters {
  height: fit-content;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  ::ng-deep mat-form-field {
    max-width: 8rem;
  }
}

.progress-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem;
}

.clickable-row:hover {
  filter: brightness(120%);
  cursor: pointer;
}

@media (min-width: 1024px) {
  .filters {
    justify-content: start;

    ::ng-deep mat-form-field {
      max-width: none;
    }
  }
}
