<mat-card class="card-01">
  <mat-card-header
    ><mat-card-title>Abertos</mat-card-title
    ><mat-card-subtitle>Últimos 7 dias</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content"> 86 </mat-card-content>
</mat-card>

<mat-card class="card-02">
  <mat-card-header
    ><mat-card-title>Finalizados</mat-card-title
    ><mat-card-subtitle>Últimos 7 dias</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content"> 70 </mat-card-content>
</mat-card>

<mat-card class="card-03">
  <mat-card-header
    ><mat-card-title>Urgentes</mat-card-title
    ><mat-card-subtitle>Chamados abertos urgente</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content"> 7 </mat-card-content>
</mat-card>

<mat-card class="card-04">
  <mat-card-header
    ><mat-card-title>Seu rendimento</mat-card-title
    ><mat-card-subtitle>Últimos 7 dias</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    @if(weekData) {
    <canvas
      baseChart
      [data]="weekData"
      [labels]="weekLabels"
      [type]="weekType"
    ></canvas>
    }
  </mat-card-content>
</mat-card>

<mat-card class="card-05">
  <mat-card-header
    ><mat-card-title>Clientes</mat-card-title
    ><mat-card-subtitle>Últimos 7 dias</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    @if(clientData) {
    <canvas
      baseChart
      [data]="clientData"
      [labels]="clientLabels"
      [type]="clientType"
    ></canvas>
    }
  </mat-card-content>
</mat-card>
