@if(client) {
<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title> {{ client.name }} </mat-card-title>
      <mat-card-subtitle>
        Cliente desde:
        {{ formatDate.formatAtFormat(client.createdAt, "MM/yyyy") }}
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <h3>Informações do cliente</h3>
    <section class="informations">
      <div class="information">
        <span>Email</span>
        <p>{{ client.email }}</p>
      </div>

      <div class="information">
        <span>Telefone</span>
        <p>{{ client.phone }}</p>
      </div>

      <div class="information">
        <span>CNPJ</span>
        <p>{{ client.cnpj }}</p>
      </div>
    </section>
  </mat-card-content>
</mat-card>
} @else { Não encontrado }
