@use '@angular/material' as mat;
@use './app/themes/app-theme.scss' as theme;

@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'ngx-toastr/toastr';

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Roboto';
}

body.light-theme {
  @include mat.all-component-themes(theme.$app-light-theme);
}

body.dark-theme {
  @include mat.all-component-themes(theme.$app-dark-theme);
}
